.container {
    max-width: 40rem;
    padding: 2rem 2rem;
    margin: 3rem auto 6rem;
    border: 2.5px solid rgba(26, 27, 39, 0.747);
    border-radius: 10px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }